/* Home */
.home-wrapper {
    display: grid;
    grid-template-columns: 6fr 5fr;
}

/* Signup Styles */
.signup-container {
    width: 100%;
    background: #fff;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: flex-end;
    z-index: 10;
}

.signup-content {
    max-width: 365px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.signup-content h1 {
    color: #b0b1b3;
    font-size: 2.3rem;
    line-height: 120%;
    margin-bottom: 1rem;
}

.signup-text {
    margin-top: 1.5rem;
    color: #19191a;
    font-weight: 600;
    font-size: 1rem;
}

.height-60 {
    height: 60px;
}

/* Hero Container Styles */
.hero-container {
    width: 100%;
    background: radial-gradient(
        92.19% 89.74% at 32.27% 91.27%,
        rgba(31, 169, 17, 0.81) 17.21%,
        #2f15d0 64.58%,
        rgba(0, 0, 0, 0) 100%
    );
    padding: 3rem 0rem 3rem 3rem;
}

.notification-wrapper {
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.whales-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
}

.cohorts img {
    image-rendering: optimizeQuality;
    height: 300px;
    margin-left: 2rem;
}

.testimonials-wrapper-2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
}

.testimonials-header h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: right;
}
.testimonials-header {
    padding-right: 3rem;
}

.testimonials-header > hr {
    margin: 1rem 0rem 2rem;
}

@media screen and (max-width: 1100px) {
    .notification-wrapper {
        flex-direction: column;
    }

    .whales-wrapper {
        flex-direction: column;
        margin-bottom: 2rem;
        padding-right: 0rem;
    }

    .testimonials-wrapper-2 {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 800px) {
    .home-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-container {
        padding: 2rem;
    }
    .testimonials-header {
        padding: 0rem;
    }

    .testimonials-header h4 {
        text-align: center;
    }

    .testimonials-wrapper-2 {
        justify-content: center;
        align-items: center;
    }
}
